- name: Examples for retrieving and resolving Aliases
  collections:
    - forcepoint.fp_ngfw_smc_ansible
  hosts: localhost
  gather_facts: no
  tasks:
  - name: Show all aliases by name and type
    alias_facts:

  - name: Show alias names that include keyword 'interface'
    alias_facts:
      filter: interface
      exact_match: no
      case_sensitive: no

  - name: Show all resolved aliases for engine 'Plano'
    alias_facts:
      limit: 0
      engine: Plano
  
  - name: Show only resolved alias with 'interface' in the name for engine 'Plano'
    alias_facts:
      smc_api_version: 7.1
      smc_logging:
        level: 10
        path: ansible-smc.log
      engine: Plano
      filter: interface
      case_sensitive: no