- name: createANYpolicy
  collections:
    - forcepoint.fp_ngfw_smc_ansible
  hosts: localhost
  vars:
    policy_name: asimpleanypolicy
    network_cidr: 192.168.0.0/16
  gather_facts: no
  tasks:
  - name: Create a new firewall policy
    l3fw_policy:
      name: "{{policy_name}}"
  - name: Create internal network element
    network_element:
      elements:
        - network:
            name: Internal Addresses
            ipv4_network: "{{network_cidr}}"
  - name: Add initial policy IPv4 access rule
    firewall_rule:
      smc_logging:
        level: 10
        path: ansible-smc.log
      policy: "{{policy_name}}"
      rules:
        - name: anyrule
          comment: an allow rule
          source:
            any: true
          destination:
            any: true
          services:
            ip_service:
              - TCP
          log_options:
             log_level: stored
  - name: Add IPv4 NAT rule for outbound HTTP connectivity
    firewall_nat_rule:
      policy: "{{policy_name}}"
      rules:
        - comment: Dynamic source nat with ports and IP redirect
          destinations:
            any: true
          dynamic_src_nat:
            automatic_proxy: true
            translated_value:
              name: $$ Interface ID 0.ip
              type: alias
              max_port: 60000
              min_port: 1024
          is_disabled: false
          name: NAT rule
          services:
            tcp_service:
              - HTTP
              - HTTPS
          sources:
            network:
            - Internal Addresses
  - name: Get first rule description as yaml
    register: results
    firewall_rule_facts:
      smc_logging:
       level: 10
       path: ansible-smc.log
      filter: "{{policy_name}}"
      rule_range: 1-1
      as_yaml: true

  - debug: msg="First rule tag = {{ results.ansible_facts.firewall_rule[0].rules[0].tag }}"

  - name: Add rule after
    firewall_rule:
      smc_logging:
        level: 10
        path: ansible-smc.log
      policy: "{{policy_name}}"
      rules:
        - name: ruleafterfirst
          comment: an allow rule added after
          source:
            any: true
          destination:
            any: true
          services:
            ip_service:
              - TCP
          log_options:
             log_level: stored
          add_after: "{{ results.ansible_facts.firewall_rule[0].rules[0].tag }}"
