- name: Create a generic element
  collections:
    - forcepoint.fp_ngfw_smc_ansible
  hosts: localhost
  gather_facts: no
  tasks:
  - name: Example creation of multiple elements
    generic_element:
      smc_logging:
        level: 10
        path: "{{log_folder| default('/tmp')}}/ansible-smc.log"
      elements:
      - vpn_profile:
          name: MyVPNProfile
          comment: mycomment
          capabilities:
            aes256_for_ike: True
            aes256_for_ipsec: True
            dh_group_2_for_ike: True
            esp_for_ipsec: True
            ike_v2: True
            main_mode: True
            pre_shared_key_for_ike: True
            sa_per_net: True
            sha1_for_ike: True
            sha1_for_ipsec: True
            sha2_ike_hash_length: 256
            sha2_ipsec_hash_length: 256
            vpn_client_rsa_signature_for_ike: True
            vpn_client_sa_per_net: True
      - snmp_agent:
          name: myagent
          comment: myagentcomment
          monitoring_user_names:
          - testcommunity
          snmp_version: v2c
      - snmp_agent:
          name: fooagent
          comment: fooagentcomment
          monitoring_user_names:
          - aaaa
          snmp_version: v2c
      - autonomous_system:
          name: autonomous system 1
          as_number: 1
      - external_bgp_peer:
          name: bgppeer
          neighbor_ip: 192.168.14.101
          neighbor_as:
            smc_reference: autonomous system 1
      - external_bgp_peer:
          name: bgppeer2
          neighbor_ip: 192.168.14.102
          neighbor_as:
            smc_reference: autonomous system 1
      - route_map:
          name: myroutemap
      - vpn:
          name: new_policy_vpn
          vpn_profile:
            smc_reference: MyVPNProfile
      - ospfv2_area:
          name: myarea
      - network:
          name: network-50.50.50.0/24
          ipv4_network: 50.50.50.0/24
      - network:
          name: network-1.1.1.0/24
          ipv4_network: 1.1.1.0/24
      - network:
          name: network-5.5.5.0/24
          ipv4_network: 5.5.5.0/24
      - network:
          name: network-41.41.41.0/24
          ipv4_network: 41.41.41.0/24
      - host:
          name: host-2.2.2.23
          address: 2.2.2.23
      - host:
          name: host-3.3.3.3
          address: 3.3.3.3
      - group:
          name: group1
          members:
          - smc_reference: host-2.2.2.23
          - smc_reference: host-3.3.3.3
      - router:
          name: myrouter2
          address: 21.21.21.13
      - router:
          name: myrouter3
          address: 31.31.31.13
      - router:
          name: myrouter4
          address: 41.41.41.13
      - network:
          name: mynetwork2
          ipv4_network: 13.13.13.0/24
      - network:
          name: mynetwork3
          ipv4_network: 14.14.14.0/24
      - netlink:
          name: netlink-21.21.21.0
          gateway:
            smc_reference: myrouter2
          network:
          - smc_reference: mynetwork2
          domain_server_address:
              - 8.8.8.8
              - 8.8.7.7
          probe_address:
              - 10.10.10.1
          comment: added by ansible
      - netlink:
          name: netlink-31.31.31.0
          gateway:
            smc_reference: myrouter3
          network:
          - smc_reference: mynetwork3
          domain_server_address:
              - 8.8.8.8
              - 8.8.7.7
          probe_address:
              - 10.10.10.1
          comment: added by ansible
